In [1]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1 (1).csv')

In [3]:
df

,Timestamp,How old are you?,Industry,Job title,Additional context on job title,Annual salary,Other monetary comp,Currency,Currency - other,Additional context on income,Country,State,City,Overall years of professional experience,Years of experience in field,Highest level of education completed,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27676,2/19/2022 16:07:31,45-54,Property or Construction,Senior Project Manager,Owner rep consultant,145000,14500.0,USD,NaN,Guaranteed 10% bonus if our department meets t...,USA,California,San Francisco,11 - 20 years,11 - 20 years,College degree,Woman,Asian or Asian American
27677,2/19/2022 18:17:08,25-34,Insurance,Underwriter,NaN,67000,6700.0,USD,NaN,NaN,USA,Florida,Tampa,8 - 10 years,11 - 20 years,Master's degree,Woman,White
27678,2/19/2022 19:47:05,25-34,"Accounting, Banking & Finance",Vice Presidenti and Corporate Counsel,(in-house attorney),252000,80000.0,USD,NaN,I also receive an equity grant,US,Pennsylvania,Philadelphia,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White
27679,2/21/2022 19:43:29,25-34,Education (Early Childhood Education),Quality Rating Specialist,Program assessor to conduct quality assessment...,62400,NaN,USD,NaN,NaN,United States,California,San Diego,11 - 20 years,8 - 10 years,College degree,Woman,Asian or Asian American
27680,2/22/2022 13:05:17,25-34,Political Campaigns,Congressional Field Director,NaN,66000,5500.0,USD,NaN,"Paid as $5,500 monthly, with a month's salary ...",United States,Virginia,Virginia Beach,5-7 years,5-7 years,College degree,Woman,White

In [4]:
df.dtypes

Timestamp                                    object
How old are you?                             object
Industry                                     object
Job title                                    object
Additional context on job title              object
Annual salary                                object
Other monetary comp                         float64
Currency                                     object
Currency - other                             object
Additional context on income                 object
Country                                      object
State                                        object
City                                         object
Overall years of professional experience     object
Years of experience in field                 object
Highest level of education completed         object
Gender                                       object
Race                                         object
dtype: object

In [6]:
df.nunique()

Timestamp                                   24899
How old are you?                                7
Industry                                     1199
Job title                                   14168
Additional context on job title              6909
Annual salary                                4246
Other monetary comp                           836
Currency                                       11
Currency - other                              111
Additional context on income                 2951
Country                                       365
State                                         129
City                                         4758
Overall years of professional experience        8
Years of experience in field                    8
Highest level of education completed            6
Gender                                          5
Race                                           48
dtype: int64

To do: 
* decide if we want to only look in the US

x 1) remove timestamp <br>
x 2) set How old are you? to categorical<br>
3) refine/group industry<br>
4) refine/group job title<br>
x 5) remove Additional context on job title <br>
x 6) combine Annual salary with Other monetary comp ? and convert to float<br>
7) add Currency -other information to currency and then remove and make Currency categorical<br>
x 8) remove Additional context on income <br>
9) refine country and make categorical<br>
10) clean state??<br>
11) clean City?<br>
12) make Overall years of professional experience categroical<br>
13) make Years of experience in field categorical<br>
14) refine Highest level of education completed and make categorical<br>
x 15) make gender categorical<br>
x 16) make race categorical<br>

In [23]:
df=df.drop(['Timestamp', 'Additional context on income', 'Additional context on job title'], axis=1)

In [24]:
df['How old are you?']=df['How old are you?'].astype('category')
df['Gender']=df['Gender'].astype('category')
df['Race']=df['Race'].astype('category')

In [31]:
df['Annual salary']=df['Annual salary'].astype('str')
df['Annual salary']=df['Annual salary'].str.replace(',','')
df['Annual salary']=df['Annual salary'].astype('float64')
df['Annual salary']=df['Annual salary'].fillna(0)
df['Other monetary comp']=df['Other monetary comp'].fillna(0)
df["Total Salary"] = df['Annual salary'] + df['Other monetary comp']
df=df.drop(['Annual salary', 'Other monetary comp'], axis=1)

In [32]:
df

,How old are you?,Industry,Job title,Currency,Currency - other,Country,State,City,Overall years of professional experience,Years of experience in field,Highest level of education completed,Gender,Race,Total Salary
0,25-34,Education (Higher Education),Research and Instruction Librarian,USD,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White,55000.0
1,25-34,Computing or Tech,Change & Internal Communications Manager,GBP,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White,58600.0
2,25-34,"Accounting, Banking & Finance",Marketing Specialist,USD,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White,34000.0
3,25-34,Nonprofits,Program Manager,USD,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White,65000.0
4,25-34,"Accounting, Banking & Finance",Accounting Manager,USD,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White,67000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27676,45-54,Property or Construction,Senior Project Manager,USD,NaN,USA,California,San Francisco,11 - 20 years,11 - 20 years,College degree,Woman,Asian or Asian American,159500.0
27677,25-34,Insurance,Underwriter,USD,NaN,USA,Florida,Tampa,8 - 10 years,11 - 20 years,Master's degree,Woman,White,73700.0
27678,25-34,"Accounting, Banking & Finance",Vice Presidenti and Corporate Counsel,USD,NaN,US,Pennsylvania,Philadelphia,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White,332000.0
27679,25-34,Education (Early Childhood Education),Quality Rating Specialist,USD,NaN,United States,California,San Diego,11 - 20 years,8 - 10 years,College degree,Woman,Asian or Asian American,62400.0
27680,25-34,Political Campaigns,Congressional Field Director,USD,NaN,United States,Virginia,Virginia Beach,5-7 years,5-7 years,College degree,Woman,White,71500.0